@media (min-width: 500px) {
    main nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        padding-top: 190px;
        }
    }
    .photo-author {
        justify-self: end;
   
    }
    .photo-author img {
        width: 550px;
                }
#about-the-author {
            color: coral;
            font-size: 18px;
            text-align: left;
        }
        .author {
            padding-top: 180px; 
        }
        .welcome {
        font-size: 40px;   
        line-height: 50px;
        padding-top: 20px;
        }    
        .welcome-text-part-one {
        line-height: 30px; 
        padding-bottom: 20px; 
        }
     .about-the-author .button-author {
        background-color: rgb(25, 179, 11);
        color: ghostwhite;
        width: 200px;
        height: 65px;
        border-radius: 10px;
        justify-content: space-around;
        }
        .button-author:hover {
            font-weight: bold;
          }
          .welcome-text-part-two {
              padding-top: 40px;
          }
          .all-links p {
            font-style: italic;
            line-height: 20px;
          }

        .button-author-shop {
            background-color: rgb(25, 179, 11);
            color: ghostwhite;
            max-width: 150px;
            border-radius: 10px;
        }
        
