.background-line-up {
    width: 1400px;
    border: white;
    padding-top: 190px;
    padding-bottom: 190px;
}
.background-line-black-up {
    width: 1400px;
    border: none;
    padding-top: 190px;
   }