@media (min-width: 500px) {
    main nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        padding-top: 190px;
        }
    }
    .photo-author {
        justify-self: end;
   
    }
    .photo-author img {
        width: 550px;
                }
#about-the-author {
            color: coral;
            font-size: 14px;
            text-align: left;
        }
        .author {
            padding-top: 180px; 
        }
        .welcome {
        font-size: 40px;   
        line-height: 45px;
        }    
        .about-the-author p {
        line-height: 30px;  
        }
     .about-the-author .button-author {
        background-color: rgb(25, 179, 11);
        color: ghostwhite;
        max-width: 150px;
        }
        .button-author-shop {
            background-color: rgb(25, 179, 11);
            color: ghostwhite;
            max-width: 150px;
        }
