#gallery {
    text-align: center;  
    padding-top: 90px;
    padding-bottom: 20px;
    color: rgb(18, 117, 63);
    font-size: 50px;
  }
  #gallery:hover {
    font-weight: bold;
  }
  .products-carusel .product-image {
      display: block;
      width: 50%;
      margin: auto;
  }
  .background-line-down {
      width: 100%;
      border: white;
      padding-top: 110px;
  }
  .product.imgUrl {
    width: 50%;
    border: 2px solid green;
  }
  