@import url('https://fonts.googleapis.com/css2?family=Anton&family=Istok+Web&family=Merriweather:wght@900&family=Raleway:ital,wght@0,400;0,800;1,700&display=swap');
:root {
    font-family: Istok Web, sans-serif;
    --main-color: black;
}
body {
    max-width: 980;
    margin: auto;
}
img {
    width: 300px;
    border: 2px solid green;
}
header .small-logo {
    width: 180px;  
    flex-direction: column;
    color: var(--main-color);
    font-size: small;
 }

p {
    line-height: 25px;
}
header .menu {
    display: block;
    color: var(--main-color);
    text-decoration: normal;
}
@media (min-width: 500px) {
    header nav {
        display: flex;
    }
}
header .menu a:hover {
    font-weight: bold;
  }
header .main-logo {
       border: 15px solid rgb(144, 221, 29);
    }

header .word-shop {
    color: red;
    font-weight: bold;
}
h1 {
    font-size: 3.5rem;
    color: rgb(25, 179, 11); 
    font-weight: 700;
    }
    .colortext {
        color: rgb(70, 131, 180);
        font-weight: 600;
    }