#gallery {
    text-align: center;  
    padding-top: 130px;
  }
  .products-carusel .product-image {
      display: block;
      width: 50%;
      margin: auto;
  }
  .background-line-down {
      width: 100%;
      border: white;
      padding-top: 150px;
  }
  .product.imgUrl {
    width: 50%;
    border: 2px solid green;
  }
  