@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@900&family=Raleway:ital,wght@0,800;1,700&display=swap'););
:root {
    font-family: Raleway, sans-serif;
}

img {
    width: 300px;
    border: 2px solid green;
}

.small-logo {
    width: 180px;  
}
.main-logo {
    border: 15px solid rgb(144, 221, 29);
}

.shop {
    color: red;
}
h1 {
    font-size: 30px;
    color: rgb(25, 179, 11); 
}