.background-line-up {
    width: 100%;
    border: white;
    padding-top: 190px;
    padding-bottom: 190px;
}
.background-line-black-up {
    width: 100%;
    border: none;
    padding-top: 190px;
   }
   .footer-container {
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       background-color: #333;
   }